Package: libnginx-mod-http-geoip-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 51
Depends: libnginx-mod-http-geoip (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-geoip
Build-Ids: d5271a082e1eff33a6b06174cf8a8cdcc3c8d6df
