Package: libnginx-mod-http-cache-purge
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 134
Depends: nginx-common (= 1.18.0-6.1), libc6 (>= 2.14)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: Purge content from Nginx caches
 Cache Purge module adds purging capabilities to Nginx. It allows purging
 content from caches used by all of Nginx proxy modules, like FastCGI, Proxy,
 SCGI and uWSGI.
