Package: libnginx-mod-stream-geoip2-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 37
Depends: libnginx-mod-stream-geoip2 (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-stream-geoip2
Build-Ids: ff2c8a614d2692bb40b1f524b0b4dae9d3d12486
