Package: libnginx-mod-http-xslt-filter
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 134
Depends: nginx-common (= 1.18.0-6.1), libc6 (>= 2.14), libxml2 (>= 2.7.4), libxslt1.1 (>= 1.1.25)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: XSLT Transformation module for Nginx
 The ngx_http_xslt_filter module is a filter that transforms XML responses
 using one or more XSLT stylesheets.
 .
 The transformation can be adjusted by setting the relevant configuration
 parameters.
