Package: libnginx-mod-http-cache-purge-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 53
Depends: libnginx-mod-http-cache-purge (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-cache-purge
Build-Ids: 9f8402913155d7b3e4c2b97aef9e4c75b720a62d
