Package: libnginx-mod-http-ndk-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 50
Depends: libnginx-mod-http-ndk (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-ndk
Build-Ids: 7a4036ed933b1e063ecdc27b94ea11f3eb1055af
