Package: libnginx-mod-http-dav-ext
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 147
Depends: nginx-common (= 1.18.0-6.1), libc6 (>= 2.14), libxml2 (>= 2.7.4)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: WebDAV missing commands support for Nginx
 WebDAV Ext module complements the Nginx WebDAV module to provide a full
 WebDAV support.
 .
 WebDAV Ext provides the missing PROPFIND & OPTIONS methods.
