Package: libnginx-mod-http-headers-more-filter-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 62
Depends: libnginx-mod-http-headers-more-filter (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-headers-more-filter
Build-Ids: 9aea24431d2b538f98bf547e6e838f1d46364cb8
