Package: libnginx-mod-http-upstream-fair-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 54
Depends: libnginx-mod-http-upstream-fair (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-upstream-fair
Build-Ids: 8ad1e86498e65b95172b26354277fd5599520b1d
