Package: libnginx-mod-http-image-filter
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 138
Depends: nginx-common (= 1.18.0-6.1), libc6 (>= 2.14), libgd3 (>= 2.1.0~alpha~)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: HTTP image filter module for Nginx
 The ngx_http_image_filter module is a filter that transforms images in JPEG,
 GIF, and PNG formats.
 .
 The module supports filters such as rotate, resize, crop, quality, sharpening,
 interlacing and more.
