Package: libnginx-mod-http-lua-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 487
Depends: libnginx-mod-http-lua (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-lua
Build-Ids: fb559415a0bb49ae1a5a89f89cf4b23de5e55b48
