Package: libnginx-mod-rtmp
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 454
Depends: nginx-common (= 1.18.0-6.1), libc6 (>= 2.28)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: RTMP support for Nginx
 The nginx RTMP module is a fully-featured streaming solution implemented in
 nginx.
 .
 It provides the following features:
  - Live streaming with RTMP, HLS and MPEG-DASH;
  - RTMP Video on Demand from local or HTTP sources;
  - Stream relay support via a push or pull model;
  - Integrated stream recording;
  - and more.
