Package: nginx
Version: 1.18.0-6.1
Architecture: all
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 102
Depends: nginx-core (<< 1.18.0-6.1.1~) | nginx-full (<< 1.18.0-6.1.1~) | nginx-light (<< 1.18.0-6.1.1~) | nginx-extras (<< 1.18.0-6.1.1~), nginx-core (>= 1.18.0-6.1) | nginx-full (>= 1.18.0-6.1) | nginx-light (>= 1.18.0-6.1) | nginx-extras (>= 1.18.0-6.1)
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: small, powerful, scalable web/proxy server
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This is a dependency package to install either nginx-core (by default),
 nginx-full, nginx-light or nginx-extras.
