Package: libnginx-mod-mail-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 117
Depends: libnginx-mod-mail (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-mail
Build-Ids: 3128b0d5dba832fd0387d9470e8992fd3f714453
