Package: libnginx-mod-http-xslt-filter-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 67
Depends: libnginx-mod-http-xslt-filter (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-xslt-filter
Build-Ids: f9a18273aa9355fc227bc0ceea5f9557adba6f13
