Package: libnginx-mod-http-image-filter-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 59
Depends: libnginx-mod-http-image-filter (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-image-filter
Build-Ids: 7fa3bcc479d222e0aa0fe0e8d203e04d963585e5
