Package: nginx-extras
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 1610
Depends: libnginx-mod-http-auth-pam (= 1.18.0-6.1), libnginx-mod-http-cache-purge (= 1.18.0-6.1), libnginx-mod-http-dav-ext (= 1.18.0-6.1), libnginx-mod-http-echo (= 1.18.0-6.1), libnginx-mod-http-fancyindex (= 1.18.0-6.1), libnginx-mod-http-geoip (= 1.18.0-6.1), libnginx-mod-http-geoip2 (= 1.18.0-6.1), libnginx-mod-http-headers-more-filter (= 1.18.0-6.1), libnginx-mod-http-image-filter (= 1.18.0-6.1), libnginx-mod-http-lua (= 1.18.0-6.1), libnginx-mod-http-perl (= 1.18.0-6.1), libnginx-mod-http-subs-filter (= 1.18.0-6.1), libnginx-mod-http-uploadprogress (= 1.18.0-6.1), libnginx-mod-http-upstream-fair (= 1.18.0-6.1), libnginx-mod-http-xslt-filter (= 1.18.0-6.1), libnginx-mod-mail (= 1.18.0-6.1), libnginx-mod-nchan (= 1.18.0-6.1), libnginx-mod-stream (= 1.18.0-6.1), libnginx-mod-stream-geoip (= 1.18.0-6.1), libnginx-mod-stream-geoip2 (= 1.18.0-6.1), nginx-common (= 1.18.0-6.1), iproute2, libc6 (>= 2.28), libcrypt1 (>= 1:4.1.0), libpcre3, libssl1.1 (>= 1.1.1), zlib1g (>= 1:1.1.4)
Suggests: nginx-doc (= 1.18.0-6.1)
Conflicts: nginx-core, nginx-light
Breaks: nginx (<< 1.4.5-1)
Provides: httpd, httpd-cgi, nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: nginx web/proxy server (extended version)
 Nginx ("engine X") is a high-performance web and reverse proxy server
 created by Igor Sysoev. It can be used both as a standalone web server
 and as a proxy to reduce the load on back-end HTTP or mail servers.
 .
 This package provides a version of nginx with the standard modules, plus
 extra features and modules such as the Perl module, which allows the
 addition of Perl in configuration files.
 .
 STANDARD HTTP MODULES: Core, Access, Auth Basic, Auto Index, Browser, Empty
 GIF, FastCGI, Geo, Limit Connections, Limit Requests, Map, Memcached, Proxy,
 Referer, Rewrite, SCGI, Split Clients, UWSGI.
 .
 OPTIONAL HTTP MODULES: Addition, Auth Request, Charset, WebDAV, FLV, GeoIP,
 Gunzip, Gzip, Gzip Precompression, Headers, HTTP/2, Image Filter, Index, Log,
 MP4, Embedded Perl, Random Index, Real IP, Slice, Secure Link, SSI, SSL,
 SSL Preread, Stub Status, Substitution, Thread Pool, Upstream, User ID, XSLT.
 .
 OPTIONAL MAIL MODULES: Mail Core, Auth HTTP, Proxy, SSL, IMAP, POP3, SMTP.
 .
 OPTIONAL STREAM MODULES: Stream, GeoIP, GeoIP2
 .
 THIRD PARTY MODULES: Auth PAM, Cache Purge, DAV Ext, Echo, Fancy Index,
 GeoIP2, Headers More, Embedded Lua, HTTP Substitutions, Nchan, Upload Progress,
 Upstream Fair Queue.
