Package: libnginx-mod-http-lua
Source: nginx
Version: 1.18.0-6.1
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 543
Depends: libnginx-mod-http-ndk (= 1.18.0-6.1), nginx-common (= 1.18.0-6.1), libc6 (>= 2.14), libluajit-5.1-2 (>= 2.0.4+dfsg)
Recommends: nginx
Section: httpd
Priority: optional
Homepage: https://nginx.net
Description: Lua module for Nginx
 Embed Lua runtime into nginx.
 .
 This module embeds Lua, via the standard Lua 5.1 interpreter or LuaJIT
 2.0/2.1, into Nginx and by leveraging Nginx's subrequests, allows the
 integration of the powerful Lua threads (Lua coroutines) into the Nginx event
 model.
