Package: libnginx-mod-http-dav-ext-dbgsym
Source: nginx
Version: 1.18.0-6.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian Nginx Maintainers <pkg-nginx-maintainers@alioth-lists.debian.net>
Installed-Size: 71
Depends: libnginx-mod-http-dav-ext (= 1.18.0-6.1)
Section: debug
Priority: optional
Description: debug symbols for libnginx-mod-http-dav-ext
Build-Ids: 0484be7bdce7858ae82b7ba29f2e1fd405bd5b69
